*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 10px;
}
main{
    border: 1px solid grey;
    width: 60%;
    margin-left: 20%;
}

section{
    display: flow-root;
    /* background: wheat; */
    border: 1px solid grey;
    border-collapse: collapse;
}
p{
    font-size: 17px;
    font-family: serif;
    margin: 10px;
    /* align-items: center; */
    float: right;
}
img{
    width: 150px;
    float: left;
    margin: 5px;
}
.left{
    width: 150px;
    height: 150px;
    /* background: teal; */
    font-size: 15px;
    font-family: cursive;
    font-weight: 700;
    color: antiquewhite;
    align-items: center;
    float: left;
    margin: 15px; 
}

.right{
    width: 150px;
    height: 150px;
    font-family: cursive;
    font-weight: 700;
    font-size: 15px;
    /* background: violet; */
    float: right;
    margin: 15px;
    text-align: center;
}