.dropdown {
    width: 100px;
    position: relative;
}

button {
    padding: 10px 50px;
    background: grey;
    color: black;
}

.content {
    display: none;
    width: 100px;
    background: aqua;
    position: absolute;

}

.content a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.content a:hover {
    background: yellow;
}

.dropdown:hover
.content  {
    display: block;
}

.dropdown button:hover{
    background: wheat;
    color: azure;
}