* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.nav img {
    width: 50px;
}

.nav {
    background-color: rgb(58, 54, 51);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 15%; */
    /* gap: 5em; */

    position: fixed;
    top: 0;
    z-index: 1;

}

.top_list {
    display: flex;
    gap: 2em;
    list-style-type: none;

}

a {
    list-style: none;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(157, 159, 154);
    padding: 15px;
    border-radius: 20px;
}

.social_icons {
    padding: 20px;
    display: flex;
    gap: 2em;

}

section {
    height: 100vh;
    margin: auto;
    /* position: sticky; */
    /* top: 0; */
}

section>div {
    background: red;

}

.section-container {
    padding: 100px 0;
}

.blue {
    background: rgb(130, 142, 142);

    margin: auto;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
}

.blue img{
    width: 20%;
    height: auto;
}

.aboutbtn {
    padding: 10px 55px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid;
}

.green {
    background: linear-gradient(rgb(57, 65, 67), rgb(102, 107, 110));
    padding: 15px;
    position: sticky;
    top: 60px;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    padding: 100px 0;

}


.orange {
    background: linear-gradient(rgb(130, 142, 142), rgb(57, 65, 67));
    position: sticky;
    height: 100vh;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    padding: 5px;

}


.grey {
    background: linear-gradient(rgb(58, 54, 51), white);
    padding: 15px;
    position: sticky;
    height: 100vh;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;

}


/* @media screen and (max-width:767px) {
    
    img {
        width: 100%;
        margin: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        width: 100%;
    }
    section{
        height: max-content;
        width: 100%;
    }
    

}

    @media screen and (min-width:768px){
    
    img{
        height: fit-content;
    }
    section{
        float: right;
        width: 100%;
    }

} */