* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: white;
    
}

ul a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: cursive;
}

nav ul {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    background: rgb(204, 230, 253);
}

main {
    width: 100%;
}

img {
    width: 100%;
    /* margin: 5px; */
}

.bottom-img {
    margin-right: 10px;
}

p {
    color: black;
    font-size: 20px;
    font-family: cursive;
}

@media screen and (max-width:767px) {

    nav ul,
    .top-img,
    .bottom-img,
    p {
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .top-img,
    nav ul {
        width: 100%;
    }

    .bottom-img {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:1024px) {

    nav ul,
    .top-img {
        width: 100%;
    }

    .bottom-img {
        width: 30%;
        float: left;
    }

    p {
        /* width: 70%; */
    }
}