* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 50%;
    font-family: sans-serif;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.rnk {
    background: rgb(46, 52, 64);
}

.boys {
    background: rgb(0, 136, 206);
}

.grls {
    background: rgb(220, 77, 71);
}

th {
    border: 3px solid white;
    padding: 10px 25px;
    color: white;
    font-weight: 500;
    border-collapse: collapse;
}

td {
    border: 3px solid white;
    border-collapse: collapse;
    padding: 10px 30px;
    color: black;
}

td:nth-child(1) {
    background-color: rgb(228, 226, 227);
}

td:nth-child(2) {
    background-color: rgb(195, 232, 255);
}
td:nth-child(3) {
    background: rgb(245, 220, 226);
}
p{
    /* text-align: center; */
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 15px;
    font-weight: 300;
    border: 1px solid red;
    text-align: center;
}
