* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    width: 100px;
    margin: auto;
}

nav {
    display: flex;
    padding: 10px;
    /* margin: auto; */
    justify-content: space-around;
    background: white;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.headers {
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    gap: 20px;

}

body {
    background-image: url(./tacobel.jpg);
    background-origin: padding-box;
}

 .big{
    text-align: center;
    margin-top: 20%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

span {
    font-size: 50px;
}

.whitebtn {
    margin: auto;
    color: black;
    background: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 70px;
    width: max-content;
}

.workshop img {
    width: 90%;
    height: 120px;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 75%;
    margin-top: -13%;

}

.advert {
    color: rgb(91, 87, 87);
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    
}

form {
    margin-top: -20px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    color: black;
    padding: 10px;
    height: 200px;
}

input {
    padding: 5px;

}
.darkbtn{
    padding: 10px 20px;
    margin:auto;
    background:  rgb(91, 87, 87);
    font-size: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}